
  <div class="card-body">
    <h5 class="card-title">Fullname: {{user.fullname}}</h5><br><br>
     <p class="card-text">Age: {{user.age}}</p>
     <p class="card-text">gender: {{user.gender}}</p>
    <p class="card-text">Email: {{user.email}}</p>
    <p class="card-text">About: {{user.about}}</p>
    <br><br>
    <hr><h5 onclick="updateProfile()" style="margin: 30px;">Edit your description!</h5></hr>
  </div> <!--fra Bootstrap: https://getbootstrap.com/docs/4.5/components/card/-->
</div>

<div id="editProfile">
  <form action="/updateProfile" method="POST" style="margin: 30px;">
  <div class="form-group">
    <input type="text" name="about" id="about" value="{{user.about}}" class="form-control">  
    </div>
    Save description
  <input type="submit"></input>
  </form>
</div>

<div id="deleteAccount" style="margin: 30px;">
  <p style="margin: 30px;">Do you want to delete your accout?</p>
  <a href="/deleteAccount"><button class="btn btn-danger">Yes</button></a>
<!--
<script>
  function updateProfile() {
  }
  </script>-->
  <!--
    <p><b>My account</b></p> <br><br>
    <p>Write something about yourself!</p>
  <div class="container">
    <input class="storage" type="text">
    <p><b>My description:</b></p>
    <p class="text" style="border-style: solid; width: 50%;">Text about me </p>
    <button class="button">Save</button>
  </div>
  <p><b>Do you want to delete your account?</b></p>
  <button type="reset" id="delete_data" value="Delete data" onclick="deleteData()" class="button">Forget me</button>
</body>
<script> 
  var delete_data=document.getElementById("delete_data")
  
  delete_data.onclick = function () {
    localStorage.removeItem("newUser")
  }
//Brugeren skal kunne opdatere sin profil
  const storageInput = document.querySelector('.storage');
  const text = document.querySelector('.text');
  const button = document.querySelector('.button');
  const storedInput = localStorage.getItem('textinput')
  //if we have ls input, put it here (https://www.youtube.com/watch?v=rVyTjFofok0)
  if (storageInput) {
    text.textContent = storedInput
  }

  storageInput.addEventListener('input', letter => {
    text.textContent = letter.target.value
    //sådan får vi den specifikke værdi i tekstboksen
  })

  //funktionen der gemmer stringen i ls 
  const saveToLocalStorage = () => {
    localStorage.setItem('textinput', text.textContent)
  }
//vi tager funktionen i brug ved denne eventListener
  button.addEventListener('click', saveToLocalStorage)
</script> 

</html>-->