<!--<!DOCTYPE html>
<head>
    <title>My account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <script src="match.js" async></script>
</head>
<nav>
  <div class="topnav">
      <a class="active" href="myAccount.html">My account</a>
  </div>
</nav>
<body>-->
  <!--<div class="card" style="width: 18rem;">
  <img src="{{user.image}}" class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">Fullname: {{user.fullname}}</h5><br><br>
     <p class="card-text">Age: {{user.age}}</p>
     <p class="card-text">gender: {{user.gender}}</p>
    <p class="card-text">Email: {{user.email}}</p>
    <p class="card-text">About: {{user.about}}</p>
    <br><br>
    <hr><h5 onclick="updateProfile()">Edit your description!</h5></hr>
  </div> <!--fra Bootstrap: https://getbootstrap.com/docs/4.5/components/card/-->
</div>

<div id="editProfile">
  <form action="/updateProfile" method="POST">
  <div class="form-group">
    <input type="text" name="about" id="about" value="{{user.about}}" class="form-control">  
    </div>
  <input type="submit">Save description</input>
  </form>
</div>

<div id="deleteAccount">
  <p>Do you want to delete your accout?</p>
  <a href="/deleteAccount"><button class="btn btn-danger">Yes</button></a>

<script>
  function updateProfile() {
  }
  </script>
<!--  <section class="container content-section">
      <h2 class="section-header">Explore potential matches</h2>
      <div class="like-user">
          <div class="like-user">
              <span class="like-user-title">Thor</span>
              <img class="like-user-image" src="Images/Album 1.png">
              <div class="like-user-details">
                  <span class="like-user-price">$12.99</span>
                  <button class="btn btn-primary like-user-button" type="button">Like</button>
              </div>
          </div>
          <div class="like-user">
              <span class="like-user-title">Ydun</span>
              <img class="like-user-image" src="Images/Album 2.png">
              <div class="like-user-details">
                  <span class="like-user-price">$14.99</span>
                  <button class="btn btn-primary like-user-button"type="button">Like</button>
              </div>
          </div>
          <div class="like-user">
              <span class="like-user-title">Freya</span>
              <img class="like-user-image" src="Images/Album 3.png">
              <div class="like-user-details">
                  <span class="like-user-price">$9.99</span>
                  <button class="btn btn-primary like-user-button" type="button">Like</button>
              </div>
          </div>
          <div class="like-user">
              <span class="like-user-title">Thorvald</span>
              <img class="like-user-image" src="Images/Album 4.png">
              <div class="like-user-details">
                  <span class="like-user-price">$19.99</span>
                  <button class="btn btn-primary like-user-button" type="button">Like</button>
              </div>
          </div>
      </div>
  </section>
  <section class="container content-section">
      <h2 class="section-header">They are waiting for your love!</h2>
      <div class="like-user">
          <div class="like-user">
              <span class="like-user-title">Heimdal</span>
              <img class="like-user-image" src="Images/Shirt.png">
              <div class="like-user-details">
                  <span class="like-user-price">$19.99</span>
                  <button class="btn btn-primary like-user-button" type="button">Like</button>
              </div>
          </div>
          <div class="like-user">
              <span class="like-user-title">Ægir</span>
              <img class="like-user-image" src="Images/Cofee.png">
              <div class="like-user-details">
                  <span class="like-user-price">$6.99</span>
                  <button class="btn btn-primary like-user-button" type="button">Like</button>
              </div>
          </div>
      </div>
  </section>
  <section class="container content-section">
      <h2 class="section-header">My matches</h2>
      <div class="cart-row">
          <span class="cart-item cart-header cart-column">Name</span>
          <span class="cart-price cart-header cart-column">Gender</span>
          <span class="cart-quantity cart-header cart-column">Age</span>
      </div>
      <div class="cart-items">
      </div>
      <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
  </section>
    <p><b>My account</b></p> <br><br>
    <p>Write something about yourself!</p>
  <div class="container">
    <input class="storage" type="text">
    <p><b>My description:</b></p>
    <p class="text" style="border-style: solid; width: 50%;">Text about me </p>
    <button class="button">Save</button>
  </div>
  <p><b>Do you want to delete your account?</b></p>
  <button type="reset" id="delete_data" value="Delete data" onclick="deleteData()" class="button">Forget me</button>
</body>
<script> 
  var delete_data=document.getElementById("delete_data")
  
  delete_data.onclick = function () {
    localStorage.removeItem("newUser")
  }
//Brugeren skal kunne opdatere sin profil
  const storageInput = document.querySelector('.storage');
  const text = document.querySelector('.text');
  const button = document.querySelector('.button');
  const storedInput = localStorage.getItem('textinput')
  //if we have ls input, put it here (https://www.youtube.com/watch?v=rVyTjFofok0)
  if (storageInput) {
    text.textContent = storedInput
  }

  storageInput.addEventListener('input', letter => {
    text.textContent = letter.target.value
    //sådan får vi den specifikke værdi i tekstboksen
  })

  //funktionen der gemmer stringen i ls 
  const saveToLocalStorage = () => {
    localStorage.setItem('textinput', text.textContent)
  }
//vi tager funktionen i brug ved denne eventListener
  button.addEventListener('click', saveToLocalStorage)
</script> 

</html>-->